<nav class="navbar-lateral">
  <div class="navbar-lat">
  <ul>
    <li><img src="/imgs/menu-opcoes.svg" alt=""></li>
    <img src="/imgs/linhamenup.svg" alt="">
    <li><a href="/home"><img src="/imgs/btn-home.svg" alt=""></a></li>
    <li><a href="/historico"><img src="/imgs/btn-historico.svg" alt=""></a></li>
    <li><a href="/drone"><img src="/imgs/btn-drone.svg" alt=""></a></li>
    <li><a href="/mapa"><img src="/imgs/btn-mapas.svg" alt=""></a></li>
    <li><a href="/cadastroPropriedade"><img src="/imgs/btn-propriedade.svg" alt=""></a></li>
    <img src="/imgs/linhamenup.svg" alt="">
    <li><a href="/mapa"><img src="/imgs/btn-config.svg" alt=""></a></li>
    <li><a href="/mapa"><img src="/imgs/btn-sair.svg" alt=""></a></li>
  </ul>
</div>
</nav>
