<% const fotoHeader = usuarioLogado && usuarioLogado.foto_perfil ? usuarioLogado.foto_perfil : '/imgs/icon-user.png'; %>
<nav id="navbar-lp">
    <div class="header-left-block">
        <img src="/imgs/logo-app-3.svg" alt="Logo aplicativo">
    </div>
    <div class="header-main">
        <div class="header-brand">
            <a href="/">
                <img id="img-logo" src="/imgs/logo-nitrusleaf.png" alt="Logo">
            </a>
        </div>
        <div class="header-user">
            <img src="<%= fotoHeader %>" alt="Foto do usuário" class="user-avatar">
        </div>
    </div>
</nav>