
<nav id="navbar-lp">
  <div class="pr-4">
    <a href="/">
      <img id="img-logo" src="/imgs/logo-nitrusleaf.png" alt="Logo">
    </a>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="#Sobre-nos">Sobre nós</a>
    <a href="#bg-card">O Projeto</a>
  </div>

  <div id="navbar-btns" >
    <a href="/cadastroUsuarios" id="btn-cadastrar" class="py-2 px-4">Cadastrar-se</a>
    <a href="/login" id="btn-entrar" class="py-2 px-4">Entrar</a>
  </div>
</nav>
