:root{
    --cor-fundo-bege: #FAF0D7;
    --cor-fundo-cor: #FFB534;
    --verde-escuro: #49A010;
    --verde-bege: #65B741;
    --texto-marrom: #351102;
    --preto: #000000;
    --input-color:#FBF6EE;
    --border-input-color:#65B741;
    --cor-fundo-form: #FFE29B;
    --background-gradient: linear-gradient(to left, #FFB534, #E88239);
    --fonte-roboto: 'Roboto', sans-serif;
    --font-weight-bold: 700;#dropdown {
    margin-left: 1200px;
    margin-bottom: 20px;
}
}

html, body {  
    background-image: url('../imgs/bg-use.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 25% 350px;
    background-color: var(--cor-fundo-bege);
    font-family: var(--fonte-roboto);
    font-weight: var(--font-weight-bold);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}

main {
    flex: 1;
}

#footer {
    background: var(--background-gradient);
    width: 100%;
    height: 130px;
    padding: 20px 0;
    border-top: 2px solid var(--cor-fundo-bege);
    font-family: var(--fonte-roboto);
}

ul {
    list-style: square;
    line-height: 30px;
}

a {
    color: var(--texto-marrom);
    text-decoration: none;
    padding: 20px;
}

th, td {
    padding: 10px;
}

footer {
    background-color: var(--cor-fundo-bege);
    text-align: center;  
    padding: 10px 0; /* Espaçamento interno */  
    border-top: 2px solid var(--cor-fundo-bege);
}
    
#navbar-lp{
    background-color: var(--cor-fundo-bege);
    display: flex;
    align-items: center;
    padding-inline: 10%; 
    border-bottom: 3px solid #E88239;
    padding-block: 1.5%;

}

#nav-links{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    
}

#navbar-btns{
    display: flex;
    margin-left: auto; /* Alinha os itens para o final da linha */
    align-items: center; 
    gap: 35px;
}

#img-logo{
    width: 160px; 
    height: auto;
}

#btn-cadastrar{
    background-color: var(--cor-fundo-bege);
    border: 1px solid var(--verde-escuro);
    border-radius: 40px;
    color: var(--verde-escuro);
    font-weight: 600;
    transition-duration: 0.3ms;
    text-align: center;
}

#btn-cadastrar:hover {
    background-color: var(--verde-escuro);
    color: white;
}

#btn-entrar{
    background-color: var(--verde-escuro);
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: 500;
    transition-duration: 0.3ms;
    text-align: center;
}

#btn-entrar:hover {
    background-color: var(--verde-bege);
    color: white;
}

#wave-conteiner{
    background: var(--background-gradient);
    position: relative;
    width: 100%;
    height: 200px;
   
    /* clip-path: path("M0,30 Q500,230 1000,90 T2000,80 L2000,500 L0,600 Z"); */
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 10.69%, 2.50% 14.54%, 5.00% 18.95%, 7.50% 23.82%, 10.00% 29.03%, 12.50% 34.45%, 15.00% 39.94%, 17.50% 45.37%, 20.00% 50.61%, 22.50% 55.53%, 25.00% 60.00%, 27.50% 63.91%, 30.00% 67.18%, 32.50% 69.72%, 35.00% 71.46%, 37.50% 72.37%, 40.00% 72.41%, 42.50% 71.60%, 45.00% 69.95%, 47.50% 67.50%, 50.00% 64.31%, 52.50% 60.46%, 55.00% 56.05%, 57.50% 51.18%, 60.00% 45.97%, 62.50% 40.55%, 65.00% 35.06%, 67.50% 29.63%, 70.00% 24.39%, 72.50% 19.47%, 75.00% 15.00%, 77.50% 11.09%, 80.00% 7.82%, 82.50% 5.28%, 85.00% 3.54%, 87.50% 2.63%, 90.00% 2.59%, 92.50% 3.40%, 95.00% 5.05%, 97.50% 7.50%, 100.00% 10.69%);
}

.transparent-container {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#div-index{
    margin-top: 90px;
    
}

#btn-index{
    padding-inline: 76px;
    width: 436px;
}

/* ----------- */

#form-bg{
    background-color: var(--cor-fundo-form);
}
#form-bg-claro{
    background-color: var(--cor-fundo-bege);
    border-color: var(--border-input-color);
}

#tabela-dados{
    display: flex;
    gap: 15rem;
}

#titulo{
    font-family: var(--fonte-roboto);
    font-weight: var(--font-weight-bold);
}

#text{
    margin-left: 15%;
    font-family: var(--fonte-roboto);
    font-weight: var(--font-weight-bold);
}
#card-css{
    margin-left: 20%;
    display: flex;
    width: 1150px;
    background-color: var(--cor-fundo-form);
}
#card-body-css{
    width: 1000px;
    
}
#row{
    display: flex;
    gap: 100px;
    
}
#column{
    float: left;
    width: 1000px;  
}
#row:after{
    display: flex;
    column-gap: 100px;
    content: "";
    display: table;
    clear: both;
}
.form-control{
    background-color:var(--input-color) ;
    border: 2px solid var(--border-input-color) ;
}
#btn-cadastro{
    background-color: var(--verde-escuro);
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: 500;
    width: 246px;
    height: 33px;
    margin-block: 20px;
    margin-inline: 370px;
    transition-duration: 0.3ms;
}
#btn-cadastro:hover {
    background-color: var(--verde-bege);
    color: white;
}
#img-navbar-lateral{
    width: 40px;
  
}
#img-div-lateral{
margin-left: 20%;
margin-right: 20%;
}
#v-pills-tab{
    background: linear-gradient(to left, #FFB534, #E88239);
}
#v-pills-home-tab{
    background: linear-gradient(to left, #FFB534, #E88239);
}
#v-pills-settings-tab-u{
    margin-bottom: 100%;
}
#card-home{
    width: 50px;
    height: 70px;
}

/*home*/

#options {
    background-color: transparent;
    outline: none;
    border: none;
    color: inherit;
    font-size: 30px;
    
}

#btn-scan{
    background-color: var(--verde-escuro);
    width: 600px;
    height: 110px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#custom-file-upload {
    background-color: var(--verde-escuro);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    margin-top: 5px;
}

.graficoContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(#D84A0F 0% 19%, #ACACAC 19% 62%, #FFB534 62% 100%);
    margin: 0 auto;
}

/* Estilos das porcentagens */
.porcentagem {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: white;
    pointer-events: none;
}

#row-home{
    display: flex;
    gap: 21px;
    margin-bottom: 100px;
    margin-top: 5%;
}

#row-home:after{
    content: "";
    display: table;
    clear: both;
}

#column-home{
    float: left;
    column-gap: 40px;
}

.graficoContainer {
    position: relative;
    width: 200px;
    height: 200px;
}

.graficoBackground {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#nav-lt{
    margin-top: 5%;
}

  
/* Estilo da legenda */
/* Estilo geral para a legenda */

#legenda {
      display: flex;
      flex-direction: column;
      padding: 10px;
      font-family: Arial, sans-serif;
}

.legenda-item {
      display: flex;
      align-items: center;
      font-size: 14px;
}

.cor {
      width: 40px;
      height: 20px;
      border-radius: 20%;
}

.cor2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.legenda-item span {
    font-size: 20px;
    color: #333;
}

.legenda-item p {
    font-size: 26px;
    color: #333;
}

#btn-detalhar{
    background-color: var(--verde-bege);
    color: white;
}

#diag-img{
    margin: 5%;
    width: 10rem;
    height: 20rem;

}
/* Histal */
a#voltar{
    background-color: var(--verde-bege);
    height: 100%;
}

#voltar-linha{
    width: 100%;
    margin: 0px;
    padding: 0px;
}


#btn-voltar{
    background-color: var(--verde-escuro);
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 500;
    transition-duration: 0.3ms;
    text-align: center;
    gap: 35px;
}

#img-voltar{
    width: 40px;
    height: auto;
    margin-right: 18px;
}

#pesqb{
    padding: 0px;
    margin: 0px;
    
}


.input-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os ícones */
}



#hist a {
    display: flex;
    align-items: center; /* Centraliza os ícones verticalmente */
    margin-left: 8px; /* Espaçamento entre os botões de adicionar e editar */
}

.fonte{
  font-family: "Kantumruy Pro", sans-serif;
  font-style: normal;
}



#tab{
    border-radius: 20px;
    border-color: var(--verde-escuro);
    border-width: 3px;
    background-color: #FBF6EE;
}

#thead{
    background-color: #FBF6EE;
    border: none;
    font-size: 24px;
}

#tabody{
   background-color: #FAF0D7; 
   border: none;
   font-weight: 400;
   font-size: 24px;;
   padding: 5px 25px; /* Reduza os valores de padding conforme necessário */
   text-align: left; /* Alinhe o texto para a esquerda */
   vertical-align: middle; /* Garante alinhamento vertical */
   height: 10px;
}

.tabe{
    border-collapse: separate; /* Allow spacing between rows */
    border-spacing: 0 15px; /* Add 10px vertical spacing between rows */
    width: 100%; /* Make the table responsive */
}

.tb{
    overflow: hidden;
    margin-top: 60px;
    line-height: 45px;
 }

 .tb td{
    border: none;
    padding: 10px;
 }

 .tb:hover {
    background-color: #e6f7ff; /* Highlight row on hover */
}

 .tb td:first-child {
    border-radius: 10px 0 0 10px; /* Raio no canto superior esquerdo e inferior esquerdo */
}

.tb td:last-child {
    border-radius: 0 10px 10px 0; /* Raio no canto superior direito e inferior direito */
}

#tabody:last-child {
    text-align: center; /* Centraliza o caractere '>' */
    padding-left: 5px; /* Reduza o espaçamento à esquerda */
}

.search{
    display: flex;
    align-items: center;
    border: 2px solid var(--verde-escuro);
    background-color: #FBF6EE;
    width: 40%;
    margin: 20px auto;
    border-radius: 14px;
    padding: 5px 10px;
    padding-left: 20px;
    color: #351102;
}

#pesq {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label{
    height: 20px;
}